.LoginBox {
    margin: 15px; /* внешний отступ */
    padding: 40px; /* внутренний отступ */
    width: calc(min(100vw, 436px));
    min-height: 434px;
    border: 2px solid #fff;
    border-radius: 15px;
    -moz-border-radius: 15px
}

.Page {
    background-color: #f6f7fb;
}