.Test_Header{
    padding: 20px;
}

.Test{
    background-color: #d6e2f5;
}
.TestQuestionList{
    width: 1200px;
    height: 450px;
    margin:15px;
    border: 2px solid lightskyblue;
    overflow: scroll;
    background-color: #f7f9fc;
}
@font-face {
    font-family: "PFCentroSlabProMedium";
    src: url("./resources/PFCentroSlabProMedium.woff");
}
.TestName{
    font-size: 20px;
    padding-left: 20px;
    font-family: "PFCentroSlabProMedium";
}
